@model IEnumerable<WebApplication3.Models.TicketLocation>
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "MapTickets";
    object ticLatLng = Model.Select(o => new { o.Latitude, o.Longitude, o.Location });
    JavaScriptSerializer js = new JavaScriptSerializer();
    string json_data = js.Serialize(ticLatLng);    
}

<input type="button" title="GetData" id="GetData" style="display: none" />
<input type="text" id="txtData" style="display: none"/>
<h2>MapTickets</h2>
<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
-->
<div class="container">
    <div class="row">        
        <div class="col-sm-12">
            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view gradient-card-header blue-gradient">

                </div>
                <!--/Card image-->
                <!--Card content-->
                <div class="card-body text-center">

                    <!--Google map-->
                    <div id="ticketsmap-container" class="z-depth-1" style="height: 600px"></div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--
        <div class="col-sm-4">
          <h3>Column 3</h3>
          <p>Lorem ipsum dolor..</p>
          <p>Ut enim ad..</p>
        </div>
            -->

    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HouseNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParcelNo)
                </th>
                <!--
                <th>
                    @Html.DisplayNameFor(model => model.CrossSt1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CrossSt2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ticket.ConstituentID)
                </th>
                -->
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HouseNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParcelNo)
                    </td>
                     <!--
                    <td>
                        @Html.DisplayFor(modelItem => item.CrossSt1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CrossSt2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticket.ConstituentID)
                    </td>
                   
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TicketLocId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TicketLocId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TicketLocId })
                    </td>
                    -->
                </tr>
            }

        </table>
    </div>
</div>
<!--Test -->
<div id="test" style="padding: 10px">
    <div class="user">
        <img src="../img/avatar.png" alt="Esempio" class="img-thumbnail"><br>
        <a href="http://www.lombardoandrea.com" target="_blank" class="navbar-link">Andrea Lombardo</a>
    </div>
    <form action="MapFilteredTickets" method="post">
        <div class="form-group">
            <br />
            <label><b>Issue *</b></label>
            <br />
            <select name="selectIssue" id="selectIssue" style="width: 90%">                
            </select>
            <br />           
            <br />
            <label><b>Details</b></label>
            <br />
            <select name="selectDetails" id="selectDetails" style="width: 90%" disabled>
               
            </select>
            <br />           
            <br />
            <label><b>Additional Information</b></label>
            <br />
            <select name="selectAddInfo" id="selectAddInfo" style="width: 90%" disabled>
              
            </select>
        </div>
        <div class="form-group">
            <label><b>Timeframe</b></label>
            <br />
            <div class="radio-inline">
                <label><input type="radio" name="optradio1" value="2" checked="checked">2 Days</label>
            </div>
            <div class="radio-inline">
                <label><input type="radio" name="optradio1" value="7">7 Days</label>
            </div>
            <div class="radio-inline">
                <label><input type="radio" name="optradio1" value="30">30 Days</label>
            </div>
        </div>
        <div class="form-group">
            <label><b>Status</b></label>
            <br />
            <div class="radio-inline">
                <label><input type="radio" name="optradio2" value="All" checked="checked">All</label>
            </div>
            <div class="radio-inline">
                <label><input type="radio" name="optradio2" value="Open">Open</label>
            </div>
            <div class="radio-inline">
                <label><input type="radio" name="optradio2" value="Closed">Closed</label>
            </div>
        </div>
        <button id="btnSubmit" type="submit" class="btn btn-default">Submit</button>
    </form>
    <!--
    <div class="list-group">
        <a href="#item-1" class="list-group-item" data-toggle="collapse">Item 1</a>
        <div class="list-group collapse" id="item-1">
            <a href="#" class="list-group-item">Item 1 di 1</a>
            <a href="#" class="list-group-item">Item 2 di 1</a>
            <a href="#item-1-1" class="list-group-item" data-toggle="collapse">Item 3 di 1</a>
            <div class="list-group collapse" id="item-1-1">
                <a href="#" class="list-group-item">Item 1 di 1.3</a>
                <a href="#" class="list-group-item">Item 2 di 1.3</a>
                <a href="#" class="list-group-item">Item 3 di 1.3</a>
            </div>
        </div>
        <a href="#item-2" class="list-group-item" data-toggle="collapse">Item 2</a>
        <div class="list-group collapse" id="item-2">
            <a href="#" class="list-group-item">Item 1 di 2</a>
            <a href="#" class="list-group-item">Item 2 di 2</a>
            <a href="#" class="list-group-item">Item 3 di 2</a>
        </div>
        <a href="#item-3" class="list-group-item" data-toggle="collapse">Item 3</a>
        <div class="list-group collapse" id="item-3">
            <a href="#" class="list-group-item">Item 1 di 3</a>
            <a href="#" class="list-group-item">Item 2 di 3</a>
            <a href="#item-3-1" class="list-group-item" data-toggle="collapse">Item 3 di 3</a>
            <div class="list-group collapse" id="item-3-1">
                <a href="#" class="list-group-item">Item 1 di 3.3</a>
                <a href="#" class="list-group-item">Item 2 di 3.3</a>
                <a href="#" class="list-group-item">Item 3 di 3.3</a>
            </div>
        </div>
        <a href="#item-4" class="list-group-item" data-toggle="collapse">Item 4</a>
        <div class="list-group collapse" id="item-4">
            <a href="#" class="list-group-item">Item 1 di 4</a>
            <a href="#" class="list-group-item">Item 2 di 4</a>
            <a href="#" class="list-group-item">Item 3 di 4</a>
        </div>
    </div>
    -->
</div>
<!--/Test -->

<script type="text/javascript">

    //initMapForTickets();
    //getTicketData();
    function getTicLatLng()
    {
        return @Html.Raw(@json_data);
    }

    window.onload = function () {
        initMapForTickets();      
        getTicketData();

        $('#test').BootSideMenu({
            side: "left",
            width: "20%"
        });
        getIssues();

        $("#selectIssue").change(function () {
            //alert("Change triggered!");

            var IssueId = $(this).val();
            var subItems = "";
            $.ajax({
                url: '/Tickets/GetDetails',
                type: 'GET',
                data: { id: IssueId },
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    //alert("AJAX success!");
                    //Fill the combo box
                    var select = document.getElementById("selectDetails");
                    select.innerHtml = "";
                    var el = document.createElement("option");
                    el.textContent = "All";
                    el.value = 0;
                    select.appendChild(el);
                    for (var i = 0; i < data.length; i++) {
                        var optTxt = data[i].Text;
                        var optValue = data[i].Value;
                        var el = document.createElement("option");
                        el.textContent = optTxt;
                        el.value = optValue;
                        select.appendChild(el);
                    }
                    // Also empty the additional info cb, and add All to it
                    var addInfoSelect = document.getElementById("selectAddInfo")
                    addInfoSelect.innerHtml = "";  
                    var el1 = document.createElement("option");
                    el1.textContent = "All";
                    el1.value = 0;
                    addInfoSelect.appendChild(el1);

                    $("#selectDetails").attr("disabled", false);                   
                    $("#selectAddInfo").attr("disabled", true);
                },
                error: function (xhr) {

                    alert("Something went wrong, please try again" + JSON.stringify(xhr));

                }
            });
        });

        // Issue Additional Info
        $("#selectDetails").change(function () {
            //alert("Change triggered!");
            var IssueId = $("#selectIssue").val();
            var IssueDetailId = $(this).val();
           
            $.ajax({
                url: '/Tickets/GetAddInfo',
                type: 'GET',
                data: { id: IssueId, detailId: IssueDetailId },
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    //alert("AJAX success!");
                    //Fill the combo box
                    var select = document.getElementById("selectAddInfo");
                    select.innerHtml = "";
                    var el = document.createElement("option");
                    el.textContent = "All";
                    el.value = 0;
                    select.appendChild(el);
                    for (var i = 0; i < data.length; i++) {
                        var optTxt = data[i].Text;
                        var optValue = data[i].Value;
                        var el = document.createElement("option");
                        el.textContent = optTxt;
                        el.value = optValue;
                        select.appendChild(el);
                    }

                    $("#selectAddInfo").change();
                    $("#selectAddInfo").attr("disabled", false);

                },
                error: function (xhr) {

                    alert("Something went wrong, please try again" + JSON.stringify(xhr));

                }
            });
        });  

        $("#GetData").click(function () {

            //alert("Change triggered!");
            var subItems;
            var i;
            $.ajax({
                url: '/Home/GetTicketsLatLng',
                type: 'GET',
                //data: { id: IssueId },
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    //alert("AJAX success!");
                    addTicketMarkers(data);
                },
                error: function (xhr) {

                    alert("Something went wrong, please try again" + JSON.stringify(xhr));

                }
            });
        });
    };

</script>


