@model WebApplication3.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>        
        
        <dt>
            @Html.DisplayNameFor(model => model.IssueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issue.Description)
        </dd>        

        <dt>
            @Html.DisplayNameFor(model => model.IssueDetailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDetail.Details)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IssueAddInfoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueAddInfo.AdditionalInfo)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd> 

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
