@model IEnumerable<WebApplication3.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>        
        <th>            
            @Html.DisplayNameFor(model => model.Subject)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Issue)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.IssueDetailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueAddInfoId)
        </th>
         <!--
        <th>           
            @Html.DisplayNameFor(model => model.Description)           
        </th> 
        -->
        <th>
            @Html.DisplayNameFor(model => model.DateReported)
        </th>   
        <th>
            @Html.DisplayNameFor(model => model.TicketLocations.ToArray()[0].Location)
        </th>  
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Issue.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDetail.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueAddInfo.AdditionalInfo)
        </td> 
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        -->
        <td>
            @Html.DisplayFor(modelItem => item.DateReported)
            @Html.DisplayFor(modelItem => item.TimeReported)
        </td> 
        <td>            
            @Html.DisplayFor(modelItem => item.TicketLocations.ToArray()[0].Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketId })
        </td>
    </tr>
}

</table>
